<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>

<body>
    <h1>Welcome to the Text Analyzer. Enter Your Text</h1>
    <form action="/analyze/" method="get">
        <textarea name="text" id="" style='width: 1406px; height: 182px;'></textarea>

        <br>
        <input type="checkbox" name="removePunc"> Remove Punctuaion <br>
        <input type="checkbox" name="capAll"> UPPERCASE <br>
        <input type="checkbox" name="newLineRemover"> New Line Remover <br>
        <input type="checkbox" name="spaceRemover">Extra Space Remover<br>
        <input type="checkbox" name="charCount">Char Count <br> <br>
        
        <button type="submit">Analyze Text</button>
    </form>
</body>

</html>